header{

text-align: center;
font-size: xx-large;
border-radius: 50px;
background-color: brown;

}

body{

background-color: beige;

}

main{

background-color: bisque;
padding: 20px;
border-radius: 30px;
font-size: larger;
text-align: center;

}
